<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ajouter un auteur</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	</head>
	<body>
	<div class="container-fluid">
		<header th:replace="fragments/general.html :: header"> </header>
		<main>
			<div class="row text-center">
				<h1>Ajouter un auteur</h1>			
			</div>
			<div class="row col-6 offset-3">
				<form th:action="@{/auteurs/ajouter}" th:object=${author} method="post" >
					<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
						<p>Il y a eu une erreur.</p>
					</div>
	              	<div class="mb-3">
		                <label for="firstname" class="form-label">Prénom : </label>
		                <input type="text" class="form-control" id="firstname" th:field="*{firstName}" >
	            	</div>
	      <!--       	<span class="text-danger col-6" th:if="${#fields.hasErrors('first')}">
			   			<ul>
			   				<li th:each="error: ${#fields.errors('title')}" th:text="${error}"></li>
			   			</ul>
			   		</span> -->
		            <div class="mb-3">
		                <label for="lastname" class="form-label">Nom de famille : </label>
		                <input type="text" class="form-control" id="lastname" th:field="*{lastName}" >
		            </div> 
			  		<span class="text-danger col-6" th:if="${#fields.hasErrors('lastName')}">
			   			<ul>
			   				<li th:each="error: ${#fields.errors('lastName')}" th:text="${error}"></li>
			   			</ul>
			   		</span>
				    <div class="mb-3">
					    <button type="submit" class="btn btn-primary">Ajouter</button>
				    </div>
				</form>
			</div>	

	
	<!-- 
	<div class="container-fluid">
        <header></header>
        <main>
           <div class="row text-center">
            <h1>Détails du film</h1>
           </div>             
           <div class="row col-6 offset-3" th:object="${film}">
              <div class="mb-3">
                <label for="titre" class="form-label">Titre</label>
                <input type="text" readonly class="form-control" id="titre" th:field="*{titre}" >
              </div>
              <div class="mb-3">
                <label for="annee" class="form-label">Année</label>
                <input type="text" readonly class="form-control" id="annee" th:field="*{annee}" >
              </div> 
              <div class="mb-3">
                <label for="duree" class="form-label">Durée</label>
                <input type="text" readonly class="form-control" id="duree" th:field="*{duree}">
              </div>   
              <div class="mb-3">
                <label for="synopsis" class="form-label">Synopsis</label>
                <textarea id="synopsis" readonly class="form-control" rows="3" th:field="*{synopsis}" ></textarea>
              </div>  
              <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <input type="text" readonly class="form-control" id="genre"  th:field="*{genre.libelle}" />
              </div> 
               <div class="mb-3">
                <label for="realisateur" class="form-label">Réalisateur</label>
                <input type="text"  class="form-control" id="realisateur" th:value="*{realisateur.nom+' '+realisateur.prenom}" />
              </div> 
              <div class="mb-3">
                <label for="acteurs" class="form-label">Acteurs</label>
                <select id="acteurs" readonly class="form-control" multiple >
                    <option th:each="acteur: ${film.acteurs}" 
                            th:value="${acteur.id}" 
                            th:text="${acteur.nom+' '+acteur.prenom}" ></option>
                </select>
              </div>                                                                                    
           </div>
        </main>
        <footer></footer>
    </div>
	
	
	 -->
	
	
</body>
</html>