<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<header>
			<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
			  <div class="container-fluid">
			    
			    <div class="collapse navbar-collapse" id="navbarColor01">
			      <ul class="navbar-nav me-auto">
			        <li class="nav-item">
			          <a class="nav-link" href="/home">Accueil</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="/films/ajouter">Ajouter un film</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="/auteurs/ajouter">Ajouter un auteur</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="/genres/ajouter">Ajouter un genre</a>
			        </li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>
		

		
	</body>
</html>