<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>[[${film.title}]]</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	</head>
	<body>
		<header th:replace="fragments/general.html :: header"> </header>
		<main>
			<h1>Affichage d'un film</h1>
			<div>
				<h2>[[${film.title}]]</h2>
				<p>Année de sortie : [[${film.releaseYear}]]</p>
				<p>Durée : [[${film.duration}]] minutes</p>
				<p>[[${film.synopsis}]]</p>
			
			</div>
		</main>
	</body>
</html>